<div id="house-preview">
    <p hidden id="daerah_pred">{{ daerah_pred }}</p>
    <br>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4 img_center">
                <img src="{{ img_preview[0] }}" class="img-fluid rounded mx-auto d-block" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title" style="color: black;">{{ alamat }}</h5>
                    <p style="color: black;">{{ feature_preview[0] }} Kamar tidur, {{ feature_preview[1] }} Kamar mandi, {{ feature_preview[2] }} Garasi</p>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent ">
                        <div class="text-center "><a class="btn btn-outline-dark mt-auto " target="_blank " href="{{ link_preview[0] }}">Kunjungi Lebih Lanjut</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4 img_center">
                <img src="{{ img_preview[1] }}" class="img-fluid rounded mx-auto d-block" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title" style="color: black;">{{ alamat }}</h5>
                    <br>
                    <p style="color: black;">{{ feature_preview[3] }} Kamar tidur, {{ feature_preview[4] }} Kamar mandi, {{ feature_preview[5] }} Garasi</p>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent ">
                        <div class="text-center " style="margin-top: 20px;"><a class="btn btn-outline-dark mt-auto " target="_blank " href="{{ link_preview[1] }}">Kunjungi Lebih Lanjut</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class=" row g-0 ">
            <div class="col-md-4 img_center">
                <img src="{{ img_preview[2] }}" class="img-fluid rounded mx-auto d-block" alt="... ">
            </div>
            <div class="col-md-8 ">
                <div class="card-body ">
                    <h5 class="card-title " style="color: black; ">{{ alamat }}</h5>
                    <br>
                    <p style="color: black; ">{{ feature_preview[6] }} Kamar tidur, {{ feature_preview[7] }} Kamar mandi, {{ feature_preview[8] }} Garasi</p>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent ">
                        <div class="text-center "><a class="btn btn-outline-dark mt-auto " target="_blank " href="{{ link_preview[2] }}">Kunjungi Lebih Lanjut</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>