<div class="container house_recom">
    <div class="row gx-4 justify-content-center">
        <div class="col mb-5 ">
            <div class="card h-100 ">
                <!-- Product image-->
                <img class="img-fluid mx-auto d-block" src="{{ img_recom[0] }}" alt="... " style="width:max-content; " />
                <!-- Product details-->
                <div class="card-body p-4 ">
                    <div class="text-center ">
                        <!-- Product name-->
                        <h5 class="fw-bolder "><b>{{ alamat }}</b></h5>
                        <br>
                        <!-- Product detail-->
                        {{ feature_recom[0] }} Kamar tidur, {{ feature_recom[1] }} Kamar mandi, {{ feature_recom[2] }} Garasi
                        <br>
                        <b>{{ harga_recom[0] }}</b>
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent ">
                    <div class="text-center "><a class="btn btn-outline-dark mt-auto " target="_blank " href="{{ link_recom[0] }}">Kunjungi Lebih Lanjut</a></div>
                </div>
            </div>
        </div>
        <div class="col mb-5 ">
            <div class="card h-100 ">
                <!-- Product image-->
                <img class="img-fluid mx-auto d-block" src="{{ img_recom[1] }}" alt="... " style="width: max-content; " />
                <!-- Product details-->
                <div class="card-body p-4 ">
                    <div class="text-center ">
                        <!-- Product name-->
                        <h5 class="fw-bolder ">{{ alamat }}</h5>
                        <!-- Product detail-->
                        {{ feature_recom[3] }} Kamar tidur, {{ feature_recom[4] }} Kamar mandi, {{ feature_recom[5] }} Garasi
                        <br>
                        <b>{{ harga_recom[1] }}</b>
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent ">
                    <div class="text-center "><a class="btn btn-outline-dark mt-auto " target="_blank " href="{{ link_recom[1] }}">Kunjungi Lebih Lanjut</a></div>
                </div>
            </div>
        </div>
        <div class="col mb-5 ">
            <div class="card h-100 ">
                <!-- Product image-->
                <img class="img-fluid mx-auto d-block" src="{{ img_recom[2] }}" alt="... " style="width: max-content; " />
                <!-- Product details-->
                <div class="card-body p-4 ">
                    <div class="text-center ">
                        <!-- Product name-->
                        <h5 class="fw-bolder ">{{ alamat }}</h5>
                        <!-- Product detail-->
                        {{ feature_recom[6] }} Kamar tidur, {{ feature_recom[7] }} Kamar mandi, {{ feature_recom[8] }} Garasi
                        <br>
                        <b>{{ harga_recom[2] }}</b>
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent ">
                    <div class="text-center "><a class="btn btn-outline-dark mt-auto " target="_blank " href="{{ link_recom[2] }}">Kunjungi Lebih Lanjut</a></div>
                </div>
            </div>
        </div>
        <div class="col mb-5 ">
            <div class="card h-100 ">
                <!-- Product image-->
                <img class="img-fluid mx-auto d-block" src="{{ img_recom[3] }}" alt="... " style="width: max-content; " />
                <!-- Product details-->
                <div class="card-body p-4 ">
                    <div class="text-center ">
                        <!-- Product name-->
                        <h5 class="fw-bolder ">{{ alamat }}</h5>
                        <!-- Product detail-->
                        {{ feature_recom[9] }} Kamar tidur, {{ feature_recom[10] }} Kamar mandi, {{ feature_recom[11] }} Garasi
                        <br>
                        <b>{{ harga_recom[3] }}</b>
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent ">
                    <div class="text-center "><a class="btn btn-outline-dark mt-auto " target="_blank " href="{{ link_recom[3] }}">Kunjungi Lebih Lanjut</a></div>
                </div>
            </div>
        </div>
    </div>
</div>