<div id="kpr-input">
    <form id="form-kpr1-new">
        <label for=" inputAddress " class="form-label "><b>Jumlah Pinjaman</b></label>
        <input type="number" class="form-control " id="inputPinjaman" placeholder="(e.g: 1000000)" name="pinjam" />
        <br>
        <label for="inputAddress " class="form-label "><b>Suku bunga pinjaman/Tahun (dalam persen)</b></label>
        <input type="number" class="form-control " id="inputSuku" placeholder="(e.g: 15)" name="suku" />
        <br>
        <label for="inputAddress " class="form-label "><b>Jangka waktu pinjaman (tahun)</b></label>
        <input type="number" class="form-control " id="inputTenor" placeholder="e.g: 5" name="tahun" />
        <br>
        <br>
        <input type="submit" class="btn btn-outline-light" value="Calculate">
    </form>
</div>