<div id="kpr-input">
    <p hidden id="kpr_type">{{ kpr_type }}</p>
    <form id="form-kpr2-new">
        <label for=" inputAddress " class="form-label "><b>Jumlah Pinjaman</b></label>
        <input type="number" class="form-control " id="inputPinjaman" placeholder="(e.g: 1000000)" name="pinjam" />
        <br>
        <label for="inputAddress " class="form-label "><b>Suku bunga pinjaman dalam jangka tahun (dalam persen), pisahkan dengan koma</b></label>
        <input type="text" class="form-control " id="inputSuku" placeholder="(e.g: 15,10,12)" name="suku" />
        <br>
        <label for="inputAddress " class="form-label "><b>Tahun bunga berubah, pisahkan dengan koma</b></label>
        <input type="text" class="form-control " id="inputGantiTahun" placeholder="(e.g: 2,5,8)" name="gantiTahun" />
        <br>
        <label for="inputAddress " class="form-label "><b>Jangka waktu pinjaman (dalam tahun)</b></label>
        <input type="number" class="form-control " id="inputTenor" placeholder="e.g: 10" name="tahun" />
        <br>
        <br>
        <input type="submit" class="btn btn-outline-light" value="Calculate">
    </form>
</div>